In [6]:
# 변수 및 입출력 복습
# 사용자로부터 정수를 입력받아서  input() -> int()
# 변수에 저장하고  변수명 = 0000
number = int(input('정수를 입력하세요 : '))
# 15를 곱한다음 새로운 변수에 저장해서  새로운변수명 = 변수명
new_number = number*15
# 다음과 같이 출력
# "입력한값은 : 000 이고 15를 곱한 값은 000 입니다."  print("" + "" + "")
# output = '입력한 값은 : '+str(number)+' 이고 15를 곱한 값은 '+ str(new_number) + ' 입니다'
output = f"입력한 값은 {number} 이고 15를 곱한 값은 {new_number} 입니다."
print(output)

입력한 값은 20 이고 15를 곱한 값은 300 입니다.

In [7]:
# 리스트
# 변수명 = [11,22,33,44]
# 변수명[0]  --> 11
# 변수명[1]  --> 22
# 변수명[4] -- > indexError 
# len(변수명)
# 마지막 인덱스 = len(변수명) - 1   --> 44
# 마지막 인덱스 = 변수명[-1] --> 44
# 변수명[0:2] -> [11,22]
# 변수명[:2] -> [11,22]
# 변수명[0:4] -> [11,22,33,44]
# 변수명[0:] -> [11,22,33,44]
# 변수명[:] --> 
# 변수명[-2:]
# 변수명[start:end-1 : step]
# 변수명[::-1] --> 역순으로 출력

In [40]:
# 1. 리스트 만들기
import random
lst1 = random.sample(range(100),10)

In [41]:
len(lst1)

10

In [43]:
# lst1에서 첫번재 값을 출력하고 그리고 값을 100으로 변경
print(lst1)

[92, 97, 78, 0, 80, 17, 15, 5, 53, 71]

In [44]:
print(lst1[0])

92

In [45]:
lst1[0] = 100
print(lst1)

[100, 97, 78, 0, 80, 17, 15, 5, 53, 71]

In [46]:
lst2 = lst1[3:-1]
print(lst2)
lst3 = lst1[3:9]
print(lst3)

[0, 80, 17, 15, 5, 53]
[0, 80, 17, 15, 5, 53]

In [49]:
# lst1에서 처음부터 5개만 추출
print(lst1)
print( lst1[ : 5] )

[100, 97, 78, 0, 80, 17, 15, 5, 53, 71]
[100, 97, 78, 0, 80]

In [50]:
# lst1에서 뒤에서 3개만 추출
print(lst1)
print( lst1[-3 : ] )

[100, 97, 78, 0, 80, 17, 15, 5, 53, 71]
[5, 53, 71]

In [51]:
# 뒤집기(역순출력)
print(lst1)
print(lst1[::-1])

[100, 97, 78, 0, 80, 17, 15, 5, 53, 71]
[71, 53, 5, 15, 17, 80, 0, 78, 97, 100]

In [53]:
random.randint(0,100)

65

In [65]:
lst1.append( random.randint(0,100) )
print(lst1)

[100, 97, 78, 0, 80, 17, 15, 5, 53, 71, 72, 69, 54, 16, 19, 79, 25, 15, 87, 89, 47, 100]

In [101]:
lst2 = [1,2,5,4,5]
print(lst2)

[1, 2, 5, 4, 5]

In [102]:
lst2.append( 10 )
print(lst2)

[1, 2, 5, 4, 5, 10]

In [ ]:
lst2.remove(5)
print(lst2)

[1, 2, 4, 5, 10]

In [ ]:
deleted_num = lst2.pop()

In [ ]:
# 생성 lst1 = [1,2]   또는 lst1 = []
# 값을 추출( 인덱스로 한개, 슬라이싱 [ : : 1] )
# 업데이트( 리스트변수[인덱스] = 값)
# 삭제 remove --> 값을 찾아서(첫번째 매칭되는 값 한개만)
#      pop --> 마지막 인덱스의 값을 삭제하고 가져온다
# 추가 append --> 맨 마지막에 추가
#    lst1.insert(3,10)  # -->  인덱스3 10을 끼워 넣는다

In [104]:
# 튜플
tu1 = (1,2,3)
print(tu1)

(1, 2, 3)

In [107]:
tu1[0] = 100

TypeError: 'tuple' object does not support item assignment

In [111]:
lst1 = [1,2,3]
print(lst1)
print(tuple(lst1))

[1, 2, 3]
(1, 2, 3)

In [114]:
print(tu1)
print( tu1.index(2) )

(1, 2, 3)
1

In [115]:
tu1.count(2)

1

In [117]:
# set은  set() 형태로  만든다... 중복을 제거한다..
lst1 = [1,1,1,2,2,2]
print(lst1)
s1 = set(lst1)
print(s1)

[1, 1, 1, 2, 2, 2]
{1, 2}

In [124]:
s1.add(100)
print(s1)

{1, 2, 100}

In [128]:
# set은 차집합 합집합 교집합을 구할때 별도의 로직 없이 바로 사용 가능
a = set([1,2,3,4,5,6,7])
b = {10,70,4,5,50,30}
print(a-b) # 차집합
print(a&b) # 교집합
print(a|b) # 교집합

{1, 2, 3, 6, 7}
{4, 5}
{1, 2, 3, 4, 5, 6, 7, 70, 10, 50, 30}

In [129]:
d1 =  {'kor':90, 'eng':95, 'math':100}

In [130]:
print( d1['kor'] )

90

In [131]:
d1['kor'] = 95

In [132]:
print(d1)

{'kor': 95, 'eng': 95, 'math': 100}

In [134]:
d1['japan'] = 99

In [135]:
print(d1)

{'kor': 95, 'eng': 95, 'math': 100, 'japan': 99}

In [136]:
d1['human'] = ['사람','인간','좋은사람']

In [137]:
print(d1)

{'kor': 95, 'eng': 95, 'math': 100, 'japan': 99, 'human': ['사람', '인간', '좋은사람']}

In [138]:
print( d1.keys() )

dict_keys(['kor', 'eng', 'math', 'japan', 'human'])

In [140]:
list(d1.keys())[0]

'kor'

In [165]:
student = {}

In [166]:
type(student)

dict

In [167]:
student['kor'] = 90
student['eng'] = 95
student['math'] = 98
print(student)

{'kor': 90, 'eng': 95, 'math': 98}

In [183]:
# keys() 출력해 보고 values() 출력해보고, items()
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['kor', 'eng', 'math'])
dict_values([90, 95, 98])
dict_items([('kor', 90), ('eng', 95), ('math', 98)])

In [186]:
# 3명의 학생을 관리
students = [student.copy(),student.copy(),student.copy()]
students

[{'kor': 90, 'eng': 95, 'math': 98},
 {'kor': 90, 'eng': 95, 'math': 98},
 {'kor': 90, 'eng': 95, 'math': 98}]

In [187]:
students[1]['eng'] = 100
students

[{'kor': 90, 'eng': 95, 'math': 98},
 {'kor': 90, 'eng': 100, 'math': 98},
 {'kor': 90, 'eng': 95, 'math': 98}]

In [173]:
students2 = [{'kor': 90, 'eng': 95, 'math': 98},
 {'kor': 90, 'eng': 95, 'math': 98},
 {'kor': 90, 'eng': 95, 'math': 98}]

In [175]:
students2[1]['eng'] = 100

In [176]:
students2

[{'kor': 90, 'eng': 95, 'math': 98},
 {'kor': 90, 'eng': 100, 'math': 98},
 {'kor': 90, 'eng': 95, 'math': 98}]

In [180]:
sample1 = [10,20,30]
sample2 = sample1.copy()
print(sample1)
print(sample2)

[10, 20, 30]
[10, 20, 30]

In [181]:
sample2[0] = '안녕하세요'
print(sample2)

['안녕하세요', 20, 30]

In [182]:
print(sample1)

[10, 20, 30]