In [1]:
# for문은 리스트의 각 원소를 순환한다
list_1 = [10,20,30]
for i in list_1:
    print(i)

10
20
30

In [3]:
import random
rd_numbers = random.sample(range(100),10)
print(f'rd_numbers is {rd_numbers}')
# 리스트에 있는 값들중에 50보다 큰 값들만 출력
for i in rd_numbers:
    if i >= 50:
        print(i)

rd_numbers is [46, 95, 29, 96, 5, 17, 66, 93, 34, 22]
95
96
66
93

In [1]:
import random
rd_numbers = random.sample(range(100),10)
print(f'rd_numbers is {rd_numbers}')
# 리스트에 있는 값들중에 50보다 큰 값들만 새로운 리스트에 담아서 출력
new_numbers = []  # list()
for i in rd_numbers:
    if i>=50:
        new_numbers.append(i)

print(new_numbers)

rd_numbers is [1, 63, 95, 90, 33, 69, 96, 67, 86, 50]
[63, 95, 90, 69, 96, 67, 86, 50]

In [ ]:
list(range(3,5))

[3, 4]

In [8]:
# 단순반복은  range()를 이용
for i in range(1,10):
    print(f'2 X {i} = {i*2}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [10]:
for j in range(2,10):
    for i in range(1,10):
        print(f'{j} X {i} = {i*j}')
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [22]:
for i in range(6):
    print('*'*i)

for i in range(5):
    print('*'*(5-i))

*
**
***
****
*****
*****
****
***
**
*

In [47]:
for i in range(9):
    if i <=5:
        print(" "*(5-i) + "*"*(i*2+1))
    else:
        print(" "*5 + '*')

     *
    ***
   *****
  *******
 *********
***********
     *
     *
     *

In [48]:
# 0~100 사이의 임의의 숫자10개중에서 짝수들의 합과 홀수들의 합을 구해서 출력
# 2와 5의 공배수가 있으면 새로운 리스트에 담에서 출력
# 2의 배수이면서 5의배수  (배수는 특정숫자로 나눠떨어지는 수   x % 숫자 == 0 )
import random
rd_nmumbers = random.sample(range(100),10)
print(f'rd_numbers ==> {rd_numbers}')

a = 0
b = 0
list_2_5 = []
for i in rd_numbers:
    if i % 2 == 0:
        a = a + i  # 누적
    else:
        b = b + i  # 누적
    if i % 2 == 0 and i % 5 == 0:
        list_2_5.append(i)
print(a,b,list_2_5)

rd_numbers ==> [1, 63, 95, 90, 33, 69, 96, 67, 86, 50]
322 328 [90, 50]

In [51]:
# 숫자 맞추기 게임
for i in range(10):
    print(i)
    if i == 5:
        break

0
1
2
3
4
5

In [ ]:
import random
computer_number = random.randint(1,100)
for i in range(10):
    human_number = input()
    if human_number == computer_number:
        print("정답", computer_number)
        break
    elif human_number > computer_number:
        print("크다")
    else:
        print("작다")

20