In [1]:
import sqlite3

In [3]:
# 1. 접속  connect
# 2. 커서  cursor
# 3. 사용  excute
# 4. 해제  close
# 문법 : query --- 문자열로 이루어진 명령어

In [2]:
conn = sqlite3.connect("example.db")
cursor = conn.cursor()

In [ ]:
query = '''
create table if not exists users(
    id integer primary key,
    name text,
    age integer
)
'''
cursor.execute(query)  # --> 임시로 적용(다른사람이 접속해서 보면 반영 안됨)

In [ ]:
# 테이블에 데이터 삽입
query = '''
    insert into users(name,age) 
        values (?,?)
'''
cursor.execute(query, ('홍길동',25)  )

In [7]:
conn.commit()

In [17]:
query = '''
    select * from users
'''
cursor.execute(query)

In [15]:
for row in cursor.fetchall():
    print(f'id:{row[0]}, name:{row[1]}, age:{row[2]}')

id:1, name:홍길동, age:25
id:2, name:홍길동, age:25

In [ ]:
# insert, update, delete, select
query = '''
    update users set name = ? where id = 1
'''
conn.execute(query,('강감찬',))
conn.commit()

In [23]:
query = '''
    delete from users where id = 1
'''
conn.execute(query)
conn.commit()